<section class="row" ng-show="!form.submitted">
    <h3 class="col-md-12 text-center">{{ form.form_title }}</h3>
    <div class="col-sm-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="text-center">
            <dl class="dl-horizontal">
                <dt>Form Type:</dt><dd>{{ form.form_type }}</dd>
                <dt>Form Name:</dt><dd>{{ form.form_name }}</dd>
                <dt>Form Title:</dt><dd>{{ form.form_title }}</dd>
            </dl>
        </div>
        <button type="button" class="btn btn-primary" ng-click="debug(my_form)">Debug</button>
        <ng-form name="my_form" class="signin form-horizontal" novalidate autocomplete="off">
            <fieldset>
                <div ng-repeat="field in form.form_questions">
                    <field-directive field="field"></field-directive>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success right" type="button" ng-disabled="my_form.$invalid" ng-click="submit()">Submit</button>
                    <button class="btn btn-danger right" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </fieldset>
        </ng-form>
    </div>
</section>

<div ng-show="form.submitted">
    <h3>Submitted Data</h3>
    <dl class="dl-horizontal">
        <dt>Form Type:</dt><dd>{{ form.form_type }}</dd>
        <dt>Form Name:</dt><dd>{{ form.form_name }}</dd>
        <dt>Form Title:</dt><dd>{{ form.form_title }}</dd> 
        <hr/> 
        <div ng-repeat="field in form.form_questions">
            <dt>Label:</dt><dd>{{ field.field_title }}</dd>
            <dt>Name:</dt><dd>{{ field.field_name }}</dd>
            <dt>Value:</dt><dd>{{ field.field_value }}</dd>
            <dt>Placeholder:</dt><dd>{{ field.field_placeholder }}</dd>
            <dt>Validation:</dt><dd>{{ field.field_validation | json}}</dd>
            <dt>Helper Text:</dt><dd>{{ field.field_helpertext }}</dd>
            <br/>
        </div>
    </dl>
</div>