<h2>Form Builder</h2>
<br>
<blockquote>
	<p>Select field type you want to add to the form below and click on 'Add Field' button. Don't forget to set field properties. After you finish creating the form, you can preview the form by clicking Preview Form button.</p>
</blockquote>

<div class="well">
	<div class="form-fields" ng-hide="previewMode">
		<div class="form-properties">
			<h3>Form Properties</h3>
			<div class="row">
				<div class="col-md-2">Form Type</div>
				<div class="col-md-6">
					<input type="text" name="form-type" class="form-control" ng-model="form.form_type">
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">Form Name</div>
				<div class="col-md-6">
					<input type="text" name="form-name" class="form-control" ng-model="form.form_name">
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">Form Title</div>
				<div class="col-md-6">
					<input type="text" name="form-title" class="form-control" ng-model="form.form_title">
				</div>
			</div>
		</div>

		<hr>

		<h3>Questions</h3>
		<div class="add-field form-inline">
			<select ng-model="addField.new" class="form-control" ng-options="type.name as type.value for type in addField.types">
			</select>
			<div class="btn-group">
				<div class="btn-group" ng-repeat="type in addField.types">
					<button type="button" class="btn btn-default" ng-click="addField.new = type.name ; addNewField()">{{type.value}}</button>
				</div>
			</div>
			<button type="submit" class="btn" ng-click="addNewField()">Add Question</button>
		</div>
		<hr>
		<p ng-show="form.form_questions.length == 0">No questions added yet.</p>
		<accordion ng-model="form.form_questions" close-others="accordion.oneAtATime">
			<accordion-group heading="{{field.field_title}} : [ {{field.field_type}} ]" ng-repeat="field in form.form_questions">
				<div class="accordion-edit">
					<button class="btn btn-danger pull-right" type="button" ng-click="deleteField(field.field_id)">Delete</button>
					<div class="row">
						<div class="col-md-4">Question ID: </div>	
						<div class="col-md-4">{{field.field_id}}</div>
					</div>
					<div class="row">
						<div class="col-md-4">Question Type:</div>
						<div class="col-md-8">{{field.field_type}}</div>
					</div>

					<div class="clear"></div> <hr>

					<div class="row">
						<div class="col-md-4">Question Label:</div>
						<div class="col-md-8">
							<input type="text" ng-model="field.field_title" class="form-control" value="{{field.field_title}}">
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">Question Name:</div>
						<div class="col-md-8">
							<input type="text" ng-model="field.field_name" class="form-control" value="{{field.field_name}}">
						</div>
					</div>
					<div class="row" ng-show="showAddOptions(field)">
						<div class="col-md-4">Question Options:</div>
						<div class="col-md-8">
							<div ng-repeat="option in field.field_options">
								<form class="form-inline" role="form">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Enter name" 
										ng-model="option.option_title" value="{{option.option_title}}">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Enter value" 
										ng-model="option.option_value" value="{{option.option_value}}">
									</div>
									<button type="button" class="btn btn-danger right" ng-click="deleteOption(field, option)">
											-
									</button>
								</form>
							</div>
							<button class="btn btn-primary btn-sm" type="button" ng-click="addOption(field)">Add Option</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">Custom Validation</div>
						<div class="col-md-8">
							<button type="button" class="btn btn-info btn-xs" ng-click="showValidation = !showValidation">
								Hide/Show
							</button>
						</div>
					</div>
					<div ng-init="showValidation = false" ng-show="showValidation">
						<div ng-if="field.field_type == 'number'">
							<div class="row">
								<div class="col-md-4">Minimum / Maximum:</div>
								<div class="col-md-4">
									<input type="number" ng-model="field.field_min" class="form-control" value="{{field.field_min}}">
								</div>
								<div class="col-md-4">
									<input type="number" ng-model="field.field_max" class="form-control" value="{{field.field_max}}">
								</div>
							</div>
						</div>
						<div ng-if="(field.field_type == 'textfield') ||
										 		(field.field_type == 'email') ||
											  	(field.field_type == 'password') ||
											   	(field.field_type == 'textarea')">
							<div class="row">
								<div class="col-md-4">Question Placeholder:</div>
								<div class="col-md-8">
									<input type="text" ng-model="field.field_placeholder" class="form-control" value="{{field.field_placeholder}}">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">Question Validation Pattern:</div>
								<div class="col-md-8">
									<input type="text" ng-model="field.field_validation_pattern" class="form-control" value="{{field.field_validation_pattern}}">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">Question Helper Text:</div>
								<div class="col-md-8">
									<input type="text" ng-model="field.field_helpertext" class="form-control" value="{{field.field_helpertext}}">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">Required:</div>
						<div class="col-md-4">
						<label class="radio-inline">
							<input type="radio" ng-value="true" ng-selected ng-model="field.field_required"> Yes
						</label>
						<label class="radio-inline">
							<input type="radio" ng-value="false" ng-model="field.field_required"> No
						</label>
						</div>
					</div>
				</div>
			</accordion-group>
		</accordion>

		<p class="text-center">
			<button class="btn btn-primary right" type="button" ng-click="previewOn()">Preview Form</button>
			<button class="btn btn-danger right" type="button" ng-click="reset()">Reset</button>
		</p>

		<br><hr>
		<a ng-show="!showJson" ng-click="showJson = true">Show form json object</a>
		<a ng-show="showJson" ng-click="showJson = false">Hide form json object</a><br><br>
		<div ng-show="showJson">
			<h4>Form object content:</h4>
			<pre>{{ form | json }}</pre>
		</div>
	</div>

	<div class="form-fields-preview" ng-show="previewMode">
		<form-directive form="previewForm"></form-directive>

		<p class="text-center">
			<button class="btn btn-primary btn-large right" type="button" ng-click="previewOff()">Back to Create Mode</button>
		</p>
	</div>
</div>