<div class="form-group">
  <label for="field.field_id">
    {{field.field_id}}) {{field.field_title}}
  </label>&nbsp;
  <span class="glyphicon glyphicon-ok" ng-show="field.field_value"></span>
  <input type="text" 
    id="field.field_id" 
    name="{{field.field_name}}" 
    ng-model="field.field_value"
    ng-required="field.field_required"
    class="form-control"
    disabled/>
  <datepicker ng-model="field.field_value" show-weeks="true"></datepicker>
  <span class="pull-right required-error" ng-show="field.field_required && !field.field_value">* {{field.field_helpertext}}</span>

</div>
