<ng-form name="sub_form">
  <div class="form-group">
    <label for="field.field_id">
      {{field.field_id}}) {{field.field_title}}
    </label>&nbsp;
    <span class="glyphicon glyphicon-ok" ng-show="field.field_value"></span>
   
    <p class="input-group">
      <input type="text" 
        id="field.field_id" 
        name="{{field.field_name}}" 
        value="{{ field.field_value | date:'fullDate' }}"
        ng-required="field.field_required"
        class="form-control"
        disabled/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openCal = !openCal"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      <div ng-init="openCal = false" ng-show="openCal">
        <datepicker ng-model="field.field_value" is-open="openCal" show-weeks="true"></datepicker>
      </div>
    </p>
    <div ng-show="!sub_form.$pristine">
      <span class="pull-right required-error" ng-show="field.field_required && !field.field_value">* {{field.field_helpertext}}</span>
    </div>
  </div>
</ng-form>
