<ng-form name="sub_form">
	<script type="text/ng-template" id="customTemplate.html">
		<a>
			<span bind-html-unsafe="match.model.name || match.model.username | typeaheadHighlight:query"></span>
			<span ng-if="match.model.email">&nbsp; | &nbsp;</span>
			<span>{{match.model.email}}</span>
		</a>
	</script>
	<div class="form-group">
		<label for="field.field_id">
			{{field.field_id}}) {{field.field_title}}
		</label>&nbsp;
		<span class="glyphicon glyphicon-ok" ng-show="field.field_value && !showValidateError"></span>
		<div class="row-fluid">
			<div class="input-group">
				<ui-select multiple 
					ng-model="field.field_value" 
					theme="bootstrap" class="form-control" style="width: 800px;"
					ng-disabled="!field.field_userURL"
					dynamic-name="field.field_name"
					ng-required="field.field_required">
					<ui-select-match placeholder="{{field.field_placeholder}}">
						{{$item.name || $item.username}}
					</ui-select-match>
					<ui-select-choices repeat="item.id as item in fetchedItems | filter: $select.search"
						refresh="fetchCollection(field)"
						refresh-delay="0">
						<div ng-bind-html="item.name || item.username | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</div><!-- /input-group -->			

			<i ng-show="loadingItems" class="glyphicon glyphicon-refresh"></i>
		</div>
		<div ng-show="!sub_form.$pristine">
			<span class="pull-right required-error" ng-show="field.field_required && !field.field_value">* {{field.field_helpertext}}</span>
		</div>
	</div>
</ng-form>