<ng-form name="sub_form">
	<script type="text/ng-template" id="customTemplate.html">
		<a>
			<span bind-html-unsafe="match.model.name || match.model.username | typeaheadHighlight:query"></span>
			<span ng-if="match.model.email">&nbsp; | &nbsp;</span>
			<span>{{match.model.email}}</span>
		</a>
	</script>
	<div class="form-group">
		<label for="field.field_id">
			{{field.field_id}}) {{field.field_title}}
		</label>&nbsp;
		<span class="glyphicon glyphicon-ok" ng-show="field.field_value && !showValidateError"></span>
		<div class="row-fluid">
			<button type="button" 
				ng-disabled="valuesSelected"
				ng-repeat="item in field.field_buffer"
				class="btn btn-info btn-sm select-item" 
				ng-if="field.field_buffer" 
				ng-click="field.field_buffer.splice($index, 1)">
				<span class="glyphicon glyphicon-remove"></span>
				{{item.key}}&nbsp;
			</button>
			<div class="input-group">
				<input type="text"
					ng-list
					ng-if="!valuesSelected"
					ng-disabled="!field.field_userURL"
					id="{{field.field_id}}" 
					ng-model="field.field_value"
					dynamic-name="field.field_name" 
					class="form-control" 
					typeahead="item.id as item.username for item in fetchCollection(field) | filter:$viewValue" 
					typeahead-loading="loadingItems"
					typeahead-template-url="customTemplate.html" 
					typeahead-on-select="selectItem($item)"
					typeahead-editable="false"
					ng-required="field.field_required"
					placeholder="{{field.field_placeholder}}"
				>
				<span class="input-group-btn">
					<button class="btn btn-primary pull-right" ng-click="done()">{{doneStatus}}</button>
				</span>
			</div><!-- /input-group -->			

			<i ng-show="loadingItems" class="glyphicon glyphicon-refresh"></i>
		</div>
		<div ng-show="!sub_form.$pristine">
			<span class="pull-right required-error" ng-show="field.field_required && !field.field_value">* {{field.field_helpertext}}</span>
		</div>
	</div>
</ng-form>