<div class="form-group">
    <label for="field.field_id">
        {{field.field_id}}) {{field.field_title}}
    </label>
	<span class="glyphicon glyphicon-ok" ng-show="field.field_value && !showValidateError"></span>
	<input type="password" 
		id="field.field_id"
		class="form-control"
		name="{{field.field_name}}" 
		ng-model="field.field_value"
		value="field.field_value"
        ng-minlength="8" 
        ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" 
	    required="field.field_required" 
		placeholder="{{field.field_placeholder}}"
	>
	<span class="pull-right required-error" ng-show="(field.field_required && !field.field_value) || showValidateError">* {{field.field_helpertext}}</span>
</div>