<div class="form-group">
    <label for="field.field_id">
        {{field.field_title}}
    </label>
    <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
	<span class="required-error" ng-show="showValidateError"> {{field.field_helpertext}}</span>
	<span class="glyphicon glyphicon-ok" ng-show="field.field_value && !showValidateError"></span>
	<input type="password" 
		id="field.field_id"
		class="form-control"
		name="{{field.field_name}}" 
		ng-model="field.field_value"
		value="field.field_value"
	    required="field.field_required"
	    data-ng-pattern"{{field.field_validation_pattern}}" 
		placeholder="{{field.field_placeholder}}"
	>
</div>