<div class="form-group">
    <label for="field.field_id">
        {{field.field_id}}) {{field.field_title}}
    </label>
    <div ng-repeat="option in field.field_options" class="row-fluid">
        <label>
            <input type="radio" 
            value="{{option.option_value}}" 
            ng-model="field.field_value"  
            ng-required="field.field_required"/>
            &nbsp;
            <span ng-bind="option.option_title"></span>
        </label>
    </div>
    <span class="required-error" ng-show="field.field_required && !field.field_value">* {{field.field_helpertext}}</span>
</div>