<ng-form name="sub_form">
	<script type="text/ng-template" id="itemTemplate.html">
		<a>
			<span bind-html-unsafe="match.model.name || match.model.username | typeaheadHighlight:query"></span>
		</a>
	</script>
	<div class="form-group">
		<label for="field.field_id">
			{{field.field_id}}) {{field.field_title}}
		</label>&nbsp;
		<span class="glyphicon glyphicon-ok" ng-show="field.field_value && !showValidateError"></span>
		<div class="row-fluid">
		  <ui-select ng-model="field.field_value"	
		  	ng-if="field.field_userURL"
		  	theme="bootstrap"
				dynamic-name="field.field_name"
				ng-required="field.field_required">
		    <ui-select-match placeholder="{{field.field_placeholder}}">
		    	{{$select.selected.name || $select.selected.username}}
		    </ui-select-match>
		    <ui-select-choices repeat="item.id as item in fetchedItems | filter: $select.search"
		    	refresh="fetchCollection(field)"
		    	refresh-delay="0">
					<span ng-bind-html="item.name || item.username | highlight: $select.search"></span>
		    </ui-select-choices>
		  </ui-select>

			<i ng-show="loadingItems" class="glyphicon glyphicon-refresh"></i>
		</div>
		<div ng-show="!sub_form.$pristine">
			<span class="pull-right required-error" ng-show="field.field_required && !field.field_value">* {{field.field_helpertext}}</span>
		</div>
	</div>
</ng-form>