<ng-form name="sub_form">
	<script type="text/ng-template" id="customTemplate.html">
		<a>
			<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
			<span>&nbsp; | &nbsp;</span>
			<span>{{match.model.email}}</span>
		</a>
	</script>
	<div class="form-group">
		<label for="field.field_id">
			{{field.field_id}}) {{field.field_title}}
		</label>&nbsp;
		<span class="glyphicon glyphicon-ok" ng-show="field.field_value && !showValidateError"></span>
		<div class="row-fluid">
			<button type="button" class="btn btn-default" ng-if="field.field_value" ng-click="field.field_value = ''">
				<span class="glyphicon glyphicon-remove"></span>
				{{field.field_view}}
			</button>
			<button ng-click="loadID(field)">test</button>
			<input type="text" 
				ng-if="!field.field_value" 
				ng-disabled="!field.field_userURL"
				id="{{field.field_id}}" 
				dynamic-name="field.field_name" 
				class="form-control" 
				data-ng-model="field.field_value"
				typeahead="item.id as item.username for item in fetchCollection(field)" 
				typeahead-loading="loadingItems"
				typeahead-template-url="customTemplate.html" 
				typeahead-on-select="field.field_view = $item.username;"
				typeahead-editable="false"
				required="field.field_required"
				placeholder="{{field.field_placeholder}}"
			>
			<h1 ng-if="field.field_userURL && field.field_field_value">SOMETHING</h1>
			<pre>{{field.field_userURL}}</pre>
			<pre>{{field.field_view}}</pre>
			<pre>{{field.field_value}}</pre>
			<i ng-show="loadingItems" class="glyphicon glyphicon-refresh"></i>
		</div>
		<div ng-show="!sub_form.$pristine">
			<span class="pull-right required-error" ng-show="field.field_required && !field.field_value">* {{field.field_helpertext}}</span>
		</div>
	</div>
</ng-form>